*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#fffff ;
    font-family: "Roboto", sans-serif;
}
html,body{
    *::selection{
        color: black;
        background-color: #7774ff;
    }
    height: 100%;
    width: 100%;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 255px;
    position: absolute;
    left: 173px;
    top: 51px;
    font-size: 23px;

}
#tin{
    cursor: pointer;
    transition: background-color 0.3s ease;

  

}
#tin:hover{
    color:#7774ff;

}
#ton{
    cursor: pointer;
    transition: background-color 0.3s ease;

  

}
#ton:hover{
    color:#7774ff;

}

#dam{
    cursor: pointer;
    transition: background-color 0.3s ease;

  

}
#dam:hover{
    color:#7774ff;

}
#d{
    border: solid #7774ff;
    border-radius: 10px;
    padding: 7px ;
    background-color: #7774ff;
    color: white;
    font-size: small;
}
#d{
    cursor: pointer;
    transition: background-color 0.3s ease;

  

}
#d:hover{
    border:solid #2d29f8;
    background-color: #2d29f8;
    box-shadow: 0 0px 12px 0 black;
    transform: translateY(-10px);

}
#nav1{
  display: flex;
  width: 600px;
  margin-top: 3%;
  margin-left: 2%;
  left: 70px;
  align-items: center;
  border-bottom: solid 1px grey;
  justify-content: space-between;
  
}

#me{
    font-size: 26px;
}
#dada{
    font-size: small;
    position: absolute;
}
#kaka{
    position: absolute;
    border: solid #7774ff 1px;
    border-radius: 10px;
    padding: 5px 10px;
    top: 100px;
    margin-left: 20px;
    color: #7774ff;
    font-family:sans-serif;
    top: 18%;
}
#kaka{
    font-weight: 1000;
    position: absolute;
    color: #7774ff;
    background-color: transparent;
    animation-name: get;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes get {
    0%{
        left: -80%;
        top: -20%:
    }
    100%{
        left: 0%;
        top: 18%;
    }
}
#head{
    font-size: 53px;
    position: absolute;
    top: 20%;
    margin: 5%;
    width: 38%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-shadow: 0px 3px 3px black;
    animation: fadeIn 1s ease-in-out;
}
span{
    color: #7774ff;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
        
    }
    100%{
        opacity:  1;
        
    }
    
}
#main{
    width: 100%;
    height: 100%;
}

#card{
    position: absolute;
    top: 24%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background-color: #fff;
    border-radius: 20px;
    background-image: url(https://images.unsplash.com/photo-1526506118085-60ce8714f8c5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-position: center;
    background-size: cover;
    animation-name: card;
    animation-duration: 2s;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
    border: solid white 6px;
}
@keyframes card {
    0%{
        top: 0%;
        opacity: 0;
        left: 0;
    }
    100%{
        top: 24%;
        left: 60%;
        opacity: 1;
    }
}
#card button{
    color: black;
    background-color: rgba(255, 255, 255, 0.288);
    border: 1px solid rgba(255, 255, 255, 0.288);
    font-size: 16px;
    cursor: pointer;
    padding: 2px 21px 4px;
    border-radius: 24px;
    position: relative;
    top: 75%;
    left: 5%;
    letter-spacing: 0.2px;
    margin: 2px;

}
#card button:hover{
    background-color: white;
}
#lhed{
  text-transform: uppercase;
  position: absolute;
  top: 6%;
  left: 73%;
  font-size: 17px;
  border-right: solid solid;
  margin-right: 76px;
  border-top: solid white;
  border-bottom: solid white;
  border-right-style: solid white dashed;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 6px 9px 0px #7774ff;
  padding: 13px;
  animation-name: lhed;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes lhed {
    0%{
        top: 0;
        right: 0;
        opacity: 0;
    }
    100%{
        top: 6%;
        right: 0%;
        opacity: 1;
    }

}
.rhed h6{
  font-size: 12px;
  position: absolute;
  top: 428px;
  left: 227px;
  color: gray;
  width: 216px;
  animation: fadeIn 1s ease-in;
  animation-delay: 3s;
  opacity: 0;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
