@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

::selection {
    color: #7774ff;
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    flex-wrap: wrap;
    /* @media screen { */

    /* } */
}

body {
    background-color: aliceblue;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 22vw;
    position: relative;
    left: 195px;
    top: 76px;
    font-size: 23px;
}

#tin {
    cursor: pointer;
    transition: background-color 0.3s ease;



}

#tin:hover {
    color: #7774ff;

}

#ton {
    cursor: pointer;
    transition: background-color 0.3s ease;



}

#ton:hover {
    color: #7774ff;

}

#dam {
    cursor: pointer;
    transition: background-color 0.3s ease;



}

#dam:hover {
    color: #7774ff;

}

#d {
    border: solid #7774ff;
    border-radius: 10px;
    padding: 7px;
    background-color: #7774ff;
    color: white;
    font-size: small;
}

#d {
    cursor: pointer;
    transition: background-color 0.3s ease;



}

#d:hover {
    border: solid #2d29f8;
    background-color: #2d29f8;
    box-shadow: 0 0px 12px 0 black;
    transform: translateY(-10px);

}

#nav1 {
    display: flex;
    width: 46vw;
    margin-top: 3%;
    margin-left: 2%;
    left: 70px;
    align-items: center;
    border-bottom: 2px solid black;
    justify-content: space-between;

}

#me {
    font-size: 1.8em;
}

#dada {
    font-size: small;
    position: absolute;
}

#kaka {
    position: absolute;
    border: solid #7774ff 1px;
    border-radius: 10px;
    padding: 5px 10px;
    top: 100px;
    margin-left: 20px;
    color: #7774ff;
    font-family: sans-serif;
    top: 18%;
}

#kaka {
    font-weight: 1000;
    position: absolute;
    color: #7774ff;
    background-color: transparent;
    animation-name: get;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes get {
    0% {
        left: -80%;
        top: -20%;
    }

    100% {
        left: 0%;
        top: 18%;
    }
}

#head {
    font-size: 53px;
    position: absolute;
    top: 20%;
    margin: 5%;
    width: 44vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-shadow: 0px 3px 3px black;
    animation: fadeIn 1s ease-in-out;
}

span {
    color: #7774ff;
}

@keyframes fadeIn {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;

    }

}

#main {
    width: 100%;
    height: 100%;
}

#card {
    position: relative;
    top: 24%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background-color: #fff;
    border-radius: 20px;
    background-image: url(https://images.unsplash.com/photo-1526506118085-60ce8714f8c5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    box-shadow: 0px 6px 9px 0px #484850;
    background-position: center;
    background-size: cover;
    animation-name: card;
    animation-duration: 2s;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
    border: solid white 6px;
    z-index: 1;
    /* object-fit: contain; */
}

@keyframes card {
    0% {
        top: 0%;
        opacity: 0;
        /* left: 0; */
        /* width: 300px; */
    }

    100% {
        top: 27%;
        /* left: 60%; */
        opacity: 1;
        /* width: 600px; */
    }
}

#card button {
    color: black;
    background-color: rgba(255, 255, 255, 0.288);
    border: 1px solid rgba(255, 255, 255, 0.288);
    font-size: 16px;
    cursor: pointer;
    padding: 2px 21px 4px;
    border-radius: 24px;
    position: relative;
    top: 75%;
    left: 5%;
    letter-spacing: 0.2px;
    margin: 2px;

}

#card button:hover {
    background-color: white;
}

.white {
    width: 300vw;
    background-color: white;
    height: 10vh;
}

.lhead {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    /* background-color: aqua; */
    /* border: 10px solid red; */
    height: 1vh;
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.item {
    width: 40vw;
    height: 15vh;
    background-color: #2d29f8;
    background-color: white;
    position: absolute;
    text-transform: uppercase;
    /* position: absolute; */
    top: 2%;
    /* left: 73%; */
    ;
    /* width: 40vw; */
    /* font-size: 1px; */
    border-right: solid solid;
    /* margin-right: 76px; */
    /* border-top: solid white; */
    border-bottom: solid white;
    border-right-style: solid white dashed;
    border-radius: 10px;
    background-color: white;
    /* box-shadow: 0px 6px 9px 0px #484850; */
    /* padding: 13px; */
    animation: lhed 2s linear 1.5s forwards;
    opacity: 0;
    overflow: auto;
}

@keyframes lhed {
    0% {
        top: 6%;
        right: 40%;
        width: 0;
        opacity: 1;
    }

    50% {
        top: 6%;
        right: 1%;
        width: 40vw;
        opacity: 1;
    }

    75% {
        top: 6%;
        /* border-radius: 0px 0px 40% 0px; */
    }

    100% {
        top: 6%;
        border-radius: 60px;
        border-bottom: 100% #ff0000;
        right: 1%;
        /* width: 40vw; */
        opacity: 1;
    }

}

.rhed h6 {
    font-size: 12px;
    position: absolute;
    top: 428px;
    left: 227px;
    color: gray;
    width: 216px;
    animation: fadeIn 1s ease-in;
    animation-delay: 3s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.lhead2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    /* background-color: aqua; */
    /* border: 10px solid red; */
    height: 1vh;
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.item2 {
    width: 40vw;
    height: 14vh;
    background-color: #2d29f8;
    background-color: white;
    position: absolute;
    text-transform: uppercase;
    /* position: absolute; */
    top: 19%;
    /* left: 65%;; */
    /* width: 40vw; */
    /* font-size: 1px; */
    border-right: solid solid;
    /* margin-right: 76px; */
    /* border-top: solid white; */
    border-bottom: solid white;
    border-right-style: solid white dashed;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 1px 0px #484850;
    padding: 13px;
    animation: lhed2 2.4s linear 1.5s forwards;
    opacity: 0;
    overflow: auto;
}

@keyframes lhed2 {
    0% {
        top: 19%;
        left: 60%;
        width: 0;
        right: 1%;
        opacity: 1;
    }

    50% {
        top: 19%;
        left: 60%;
        /* right: 1%; */
        width: 40vw;
        opacity: 1;
        right: 1%;
    }

    75% {
        top: 19%;
        left: 60%;
        width: 10vw;
        right: 1%;

    }

    /* 95% {
        width: 8vw;
        top: 19%;
        left: 60%;
        right: 1%;
        /* border-radius: 60px ; */
        /* border-bottom:100% #ff0000; */
        /* right: 1%; 
        opacity: 1;
    }*/

    100% {
        width: 8vw;
        right: 1%;
        top: 19%;
        left: 60%;
        border-radius: 0px 0px 60px 0px;
        opacity: 1;
    }

}

.text{
    text-transform: uppercase;
    max-width: 17vw;
    left: 70%;
    font-size: 16px;
    position: absolute;
    top: 25%;
    opacity: 0;
    animation: text 2s linear 1.5s forwards;
}

@keyframes text {
    0% {
        top: 19%;
        left: 65%;
        right: 1%;
        opacity: 0;
    }

    50% {
        top: 19%;
        left: 70%;
        right: 1%;
        opacity: 1;

    }


100% {
    /* width: vw; */
    right: 1%;
    top: 7%;
    /* left: 60%; */
    border-radius: 0px 0px 60px 0px;
    opacity: 1;
}
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-content: center;
}
.item3{
    background-color: #7774ff;
    height: 20vh;
    width: 13vw;
    border: none;
    align-items: center;
    justify-items: center;
    border-radius: 20px;
    position: absolute;
    left:100%;
    top:22%;
    animation: right 1s ease-in 2.5s forwards;/
}

@keyframes right {
    form{
        top:22%;
        left: 100%;
    }
    to{
        left: 70%;
    }
}
.int{
    text-align: center;
    position: absolute;
    left: 71%;
    top:35%;
    text-transform: uppercase;
    color:black;
    /* display: inline-block; */
    font-weight: 100;
    font-size: 15px;
}
.t1{
    color: rgb(233, 229, 229);
    /* position: absolute; */
    opacity: 0;
    /* filter: drop-shadow(1px 1px 4px   white); */
    /* fill-opacity:10px white; */
    /* filter: blur(100px white); */
    position: relative;
    animation: t1 0.8s linear 3s   forwards;
}
@keyframes t2 {
    0%{
        /* top: 45%; */
        left: -50%;
        opacity: 0;
    }
    100%{
        opacity: 1;
        left: 0%;
        /* top:45%; */
    }
}
.t2{
    color: rgb(233, 229, 229);
    left: 0%;
    position: absolute;
    opacity: 0;
    /* top: 50%; */
    /* filter: drop-shadow(1px 1px 4px   white); */
    /* fill-opacity:10px white; */
    /* filter: blur(100px white); */
    animation: t2 0.8s linear 3.5s   forwards;
}
@keyframes t1 {
    0%{
        /* top: 45%; */
        left: -50%;
        opacity: 0;
    }
    100%{
        opacity: 1;
        left: 0%;
        /* top:45%; */
    }
}

.lhed3{
    /* display: grid; */
    /* height:5vh; */
    /* grid-template-columns: 1fr; */
    justify-content: center;
    align-content: center
    /* margin: auto; */
}
.back{
    background-color: #232c35;
    height: 54vh;
    width: 18vw;
    position: absolute;
    left: 70%;
    top: 44%;
    opacity: 0;
    margin: auto;
    z-index: ;
    border-radius: 50px;
    animation: back 0.8s linear 3s forwards;
}
@keyframes back {
        from{
            left: 75%;
            opacity: 0;
        }
        to{
            left: 70%;
            opacity: 1;
        }
}
.load{
  background-color: none;
  border: 10px solid rgba(255, 255, 255, 0.568);
  border-radius: 50%;
  height: 11vh;
  opacity: 1;
  width: 6vw;
  border-top: 10px solid white;
  opacity: 0;
  /* border-right: 10px solid white; */
  /* border-bottom: 10px solid white; */
  position: absolute;
  left: 80%;
  /* transform: rotate(80deg); */
  animation: rot 1s linear 3.5s forwards ;
}
@keyframes rot {
    0%{
        rotate: 0deg;
        border-top: 10px solid white;
        opacity:0;
    }
    50%{
        opacity: 1;
        border-right: 10px solid white;
    }
    90%{
        border-bottom: 10px solid white;
        opacity: 1;
    }
    100%{
        rotate: 45deg;
        border-right: 10px solid white;
        border-bottom: 10px solid white;
        opacity: 1;
    }
    
}
/* .loader{
    background-color: rgb(255, 255, 255);
    /* border: 10px solid white; 
    border-radius: 50%;
    height: 11vh;
    width: 6vw;
    position: relative;
    left: 0%;
    position: relative;
    animation: rot2 2s linear 1s forwards ;
   }*/

.percent p{
   font-size: 30px;
   /* position: relative; */
   color: white;
   left: 82%;
   top: 53%;
   opacity: 0;
   /* opacity: 1; */
   /* transition: ease-in-out 1s; */

}
/* .percent::after{ */
    /* content: '60'; */
    /* color: #fff; */
/* } */
.pr1{
    position: fixed;
    top: 0%;
    opacity: 0;
    animation: font1 0.1s 3.6s;
}
@keyframes font1 {
    0%{
        
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
.pr2{
    position: fixed;
    top: 0%;
    opacity: 0;
    animation: font2 0.2s 3.7s;
}
@keyframes font2 {
    0%{
        
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    
}
.pr3{
    position: fixed;
    top: 0%;
    opacity: 0;
    animation: font3 0.2s 3.8s;
}
@keyframes font3 {
    0%{
        
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    
}
.pr4{
    position: fixed;
    top: -49%;
    opacity: 0;
    animation: font4 0.2s 3.9s;
}
@keyframes font4 {
    0%{
        
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    
}
.pr6{
    position: fixed;
    top: 0%;
    opacity: 0;
    animation: font5 0.3s 3.9s forwards;
}
@keyframes font5 {
    0%{
        
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
    
}
.pr5{
    position: fixed;
    top: 0%;
    opacity: 0;
    animation: font6 0.2s 3.11s ;
}

@keyframes font6 {
    0%{
        
        opacity: 1;
    }
    10%{
        opacity: 0;
    }
    
}
.sleep{
    position: absolute;
    left: 72%;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
}
.slip{
    animation: ss 0.7s linear 4s forwards;
    opacity: 0;
    position: relative;
}
@keyframes ss {
    from{
        right: 65%;
        opacity: 0;
    }
    to{
        right: 0%;
        opacity: 1;
    }
}
.quality{
    animation: s 0.4s linear 4s forwards;
    opacity: 0;
    position: relative;
}
@keyframes s {
    from{
        right: 65%;
        opacity: 0;
    }
    to{
        right: 0%;
        opacity: 1;
    }
}
.butt{
    /* position: absolute; */
    left:72%;
    top:81%;
    display: flex;
    text-align: center;
}
.butt button{
    padding: 8px 20px;
    border-radius: 50px;
    font-size: 12px;
    cursor: pointer;
    top:81%;
    font-weight: 900;
    color: #fff;
    opacity: 0;
    border: none;
    background-color: rgba(169, 170, 170, 0.315);
    position: absolute;
    animation: butt 0.4s linear 4s forwards;
}
@keyframes butt {
    from{
        left: 70%;
        opacity: 0;
    }
    to{
        left: 72%;
        opacity: 1;
    }
}
.statics{
    text-transform: uppercase;
    position: absolute;
    left: 72%;
    font-size: 20px;
    top: 85%;
    width: 10vw;
    color: white;
    opacity: 0;
    font-weight: 500;
    animation: but 0.5s linear 4s forwards;
}
@keyframes but {
    from{
        left: 70%;
        opacity: 0;
    }
    to{
        left: 72%;
        opacity: 1;
    }
}
.hour{
    font-size: 45px;
    position:absolute;
    /* display: flex; */
    /* align-content: center; */
    /* justify-content: center; */
    left: 72%;
    top: 100%;
    color: rgb(255, 255, 255);
    animation: up 1s linear 3.9 forwards;
}
@keyframes up {
    0%{
        top: 100%;
        opacity: 0;
    }
    100%{
        top: 87%;
        opacity: 1;
    }
    
}
.hr{
    position: absolute;
    opacity: 0;
    animation: hr 0.1s linear 4s;
}
@keyframes hr {
    from{
        top:100%;
        opacity:0;

    }
    to{
        top:87%;
        opacity:1;
    }
    
}
.hr1{
    position: absolute;
    opacity: 0;
    animation: hr1 0.1s linear 4.1s;
}
@keyframes hr1 {
    from{
        top:100%;
        opacity:0;

    }
    to{
        top:87%;
        opacity:1;
    }
    
}
.hr2{
    position: absolute;
    opacity: 0;
    animation: hr2 0.1s linear 4.2s;
}
@keyframes hr2 {
    from{
        top:100%;
        opacity:0;

    }
    to{
        top:87%;
        opacity:1;
    }
    
}
.hr3{
    position: absolute;
    opacity: 0;
    animation: hr3 0.1s linear 4.3s;
}
@keyframes hr3 {
    from{
        top:100%;
        opacity:0;

    }
    to{
        top:87%;
        opacity:1;
    }
    
}
.hr4{
    position: absolute;
    opacity: 0;
    animation: hr4 0.1s linear 4.4s;
}
@keyframes hr4 {
    from{
        top:100%;
        opacity:0;

    }
    to{
        top:87%;
        opacity:1;
    }
    
}
.hr5{
    position: absolute;
    opacity: 0;
    animation: hr5 0.1s linear 4.5s;
}
@keyframes hr5 {
    from{
        top:100%;
        opacity:0;

    }
    to{
        top:87%;
        opacity:1;
    }
    
}
.hr6{
    position: absolute;
    opacity: 0;
    animation: hr6 0.1s linear 4.6s;
}
@keyframes hr6 {
    from{
        top:100%;
        opacity:0;

    }
    to{
        top:87%;
        opacity:1;
    }
    
}
.hr7{
    position: absolute;
    opacity: 0;
    animation: hr7 0.1s linear 4.7s;
}
@keyframes hr7 {
    from{
        top:100%;
        opacity:0;

    }
    to{
        top:87%;
        opacity:1;
    }
    
}
.hr8{
    position: absolute;
    opacity: 0;
    animation: hr8 0.1s linear 4.8s;
}
@keyframes hr8 {
    from{
        top:100%;
        opacity:0;

    }
    to{
        top:87%;
        opacity:1;
    }
    
}
.hr10{
    position: absolute;
    opacity: 0;
    animation: hr10 0.1s linear 4.10s forwards;

}
@keyframes hr10 {
    from{
        top:100%;
        opacity:0;

    }
    to{
        top:87%;
        opacity:1;
    }
    
}
.hr9{
    position: absolute;
    opacity: 0;
    animation: hr9 0.1s linear 4.9s;
}
@keyframes hr9 {
    from{
        top:100%;
        opacity:0;

    }
    to{
        top:87%;
        opacity:1;
    }
    
}
.hr10{
    position: absolute;
    opacity: 0;
    animation: hr10 0.1s linear 5s forwards;

}
@keyframes hr10 {
    from{
        top:100%;
        opacity:0;

    }
    to{
        top:87%;
        opacity:1;
    }
    
}
.grey{
    position: absolute;
    color: #484850;
    top: 93%;
    left: 77%;
    opacity: 0;
    animation: love 0.8s linear 3s forwards;
    font-size: 20px
}
@keyframes love {
    0%{
        left: 70%;
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        left:77%;
        opacity: 1;
    }
}
.butt button:active{
    background-color: white;
    color: black;
    
}